body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: rgb(59, 171, 199); 
    color: rgb(170, 32, 32); 
    font-family: Arial; 
    margin: 0px;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
}

a {
    text-decoration: none;
    color: rgb(0, 99, 0);
}

a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
    color: rgb(17, 7, 155);
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    opacity: 0.3;
    color: rgb(0, 0, 0);
}