body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: rgb(59, 171, 199); 
    color: rgb(170, 32, 32); 
    font-family: Arial; 
    margin: 0px;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
}

a {
    text-decoration: none;
    color: rgb(0, 99, 0);
    transition: 2s 1s;
}

a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
    color: rgb(17, 7, 155);
}

a:hover {
    text-decoration: underline;
    color: red;
    transition: 0.5s;
}

a:active {
    opacity: 0.3;
    color: rgb(0, 0, 0);
}

div.menu {
    border: 4px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}